main{
    margin: 4rem 3rem;
}
.gym-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
.title{
    font-size: 20px;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.title h1{
    margin: 0;
    font-weight: 500;
}
@media screen and (max-width: 768px){
    .gym-container{
        grid-template-columns: 1fr;
    }
}